/* modify h1 */

h1 {
  font-family: serif;
}

body {background-color: #ffffff}

#menu {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}

body {
  background-image: url();
  background-repeat: no repeat;
}
